<?xml version="1.0"?>
<!--
Copyright (c) 2012, Clearpath Robotics
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of Clearpath Robotics nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Base body of the Clearpath Kingfisher M200 (hull, deck panels, thrusters).
Ported from the original ROS 1 description to gz-sim. Link and joint names
are plain (base_link, left_thruster_link, ...) exactly as on the real robot;
a TF prefix is added by robot_state_publisher (frame_prefix), never baked into
the URDF. Hull dynamics are provided by the VRX Surface / SimpleHydrodynamics
plugins (see kingfisher_gazebo_plugins.xacro).

Frame convention (base_link, x forward, z up): the hull mesh spans
x -0.64..0.70, y +-0.49, z -0.22..0.10; keel at z = -0.22.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kingfisher">
  <xacro:include filename="$(find kingfisher_description)/urdf/materials.urdf.xacro"/>
  <xacro:include filename="$(find kingfisher_description)/urdf/kingfisher_thruster.xacro"/>

  <!-- === Physical parameters (tunable) === -->
  <!-- Total mass including payload/sensors, from the IsaacLab kingfisher env. -->
  <xacro:property name="kf_mass" value="35.0"/>
  <xacro:property name="kf_com_z" value="-0.05"/>
  <!-- Box approximation of a 35 kg, 1.34 x 0.97 x 0.32 m body. -->
  <xacro:property name="kf_ixx" value="3.0"/>
  <xacro:property name="kf_iyy" value="5.5"/>
  <xacro:property name="kf_izz" value="8.0"/>
  <!-- Hull geometry used for the collision boxes. -->
  <xacro:property name="kf_hull_length" value="1.3"/>
  <xacro:property name="kf_hull_width" value="0.2"/>
  <xacro:property name="kf_hull_height" value="0.22"/>
  <xacro:property name="kf_hull_y" value="0.38"/>
  <!-- Jet thruster location (stern of each hull, just above the keel). -->
  <xacro:property name="kf_thruster_x" value="-0.60"/>
  <xacro:property name="kf_thruster_y" value="0.38"/>
  <xacro:property name="kf_thruster_z" value="-0.15"/>

  <link name="base_link">
    <!-- Hull mesh. The STL is modelled y-up / x-right, hence the rotation. -->
    <visual name="hull_visual">
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
        <mesh filename="package://kingfisher_description/meshes/kingfisher_base.stl"/>
      </geometry>
      <material name="DarkGray"/>
    </visual>
    <visual name="left_panel_visual">
      <origin xyz="0 -0.35 0.05" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
        <mesh filename="package://kingfisher_description/meshes/left_panel.stl"/>
      </geometry>
      <material name="Yellow"/>
    </visual>
    <visual name="right_panel_visual">
      <origin xyz="0 0.35 0.05" rpy="${pi/2} 0 ${-pi/2}"/>
      <geometry>
        <mesh filename="package://kingfisher_description/meshes/right_panel.stl"/>
      </geometry>
      <material name="Yellow"/>
    </visual>

    <!-- Primitive collisions: one box per hull plus the deck. -->
    <collision name="left_hull_collision">
      <origin xyz="0.03 ${kf_hull_y} ${-kf_hull_height/2}" rpy="0 0 0"/>
      <geometry>
        <box size="${kf_hull_length} ${kf_hull_width} ${kf_hull_height}"/>
      </geometry>
    </collision>
    <collision name="right_hull_collision">
      <origin xyz="0.03 ${-kf_hull_y} ${-kf_hull_height/2}" rpy="0 0 0"/>
      <geometry>
        <box size="${kf_hull_length} ${kf_hull_width} ${kf_hull_height}"/>
      </geometry>
    </collision>
    <collision name="deck_collision">
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.7 0.97 0.1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="${kf_mass}"/>
      <origin xyz="0 0 ${kf_com_z}" rpy="0 0 0"/>
      <inertia ixx="${kf_ixx}" ixy="0" ixz="0" iyy="${kf_iyy}" iyz="0" izz="${kf_izz}"/>
    </inertial>
  </link>

  <!-- === Thrusters (fixed, differential) === -->
  <xacro:kingfisher_thruster prefix="left"
    position="${kf_thruster_x} ${kf_thruster_y} ${kf_thruster_z}"/>
  <xacro:kingfisher_thruster prefix="right"
    position="${kf_thruster_x} ${-kf_thruster_y} ${kf_thruster_z}"/>
</robot>
